*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f2d7d9;
    font-family:'Poppins', sans-serif;
}

.nav {
  background-color: #e2f3f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* space between logo and links */
  align-items: center;
  padding: 10px 20px;
}

/* LOGO SECTION */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.logo span {
  font-size: 22px;
  font-weight: bold;
  color: #4a7c8b;
  font-family: 'Poppins', sans-serif;
}

/* NAV LINKS */
.links a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  color: #6dc7d1;
}

.links a:hover {
  text-decoration: underline;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: beige;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #6dc7d1;
}

.search h1{
    font-size: 3em;
    margin-bottom: 30px;
    color: #e2f3f4;
}

.search input{
    width: 25%;
    box-sizing: border-box;
    border: 2px solid black;
    padding : 12px 0px 12px 6px;
    border-radius: 6px;
}


